*{
    margin :0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Image/myimg.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav img{
    width: 150px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(225, 27, 27);;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
nav ul li a:hover:after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text span{
    color: rgb(225, 27, 27);
}

/* about */
#about{
    padding: 80px 0;
    color: gray;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(225, 27, 27);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
.tab-link.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 12px 0;
}
.tab-contents ul li span{
    color: rgb(225, 27, 27);
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* Project */
#Project{
    padding: 30px 0;
}
.Project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.Project-list div{
    background: rgb(58, 58, 58);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.Project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.Project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Project-list div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
}
.Project-list div:hover{
    background: rgb(225, 27, 27);
    transform: translateY(-10px)
}
/* portfolio */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    display: block;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.2s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),rgb(225, 27, 27));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.2s;
}
.layer h3{
    font-size:30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.layer a i{
    margin-top: 15px;
    color: rgb(225, 27, 27);
    background: white;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background 0.2s,transform 0.2s;
}
.btn:hover{
    background: rgb(225, 27, 27);
    transform: scale(1.1);
}
/* contact */
.contact-left{
    display: flex;
    gap:1px;
    flex-basis: 35%;
    flex-direction: column;
    margin-bottom: 30px;
}
.contact-left i{
    margin-top: 15px;
    color: rgb(225, 27, 27);
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.contact-right{
    flex-basis: 60%;
    margin-bottom: 30px;
}
.contact-left p{
    margin-top: 30px;
    text-align: left;
    color: gray;
}
.contact-left h3{
    font-size: 40px;
    margin-top: 30px;
}
.contact-left .btn2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 30px 60px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(225, 27, 27);
    color: white;
    border: 1px solid white ;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.2s,transform 0.2s;
}
.contact-left .btn2:hover{
    background: black;
    transform: scale(1.2);
}
form .btn3{
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(225, 27, 27);
    color: white;
    border: 1px solid white ;
    padding: 10px 30px;
    transition: background 0.2s,transform 0.2s;
    cursor: pointer;
}
form .btn3:hover{
    background: black;
    transform: scale(1.2);
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(27, 25, 25);
    padding: 15px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 25px 0;
    background-color: rgb(27, 25, 25);
}
/* css for small size */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(Image/mobileimg.jpg);
        width: 100%;
    }
    .header-text{
        margin-top: 100px;
        width: 150px;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(225, 27, 27);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.2s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-2{
        margin-bottom: 14px;
    }
    .tab-link{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    form{
        text-align: center;
    }
    .copyright{
        font-size: 12px;
    }
}
/* css for medium and tablet screen */
@media (min-width: 600px) and (max-width: 900px) {
    .header-text {
      margin-top: 100px;
      width: 100%;
      font-size: 25px;
    }
    .header-text h1 {
      font-size: 46px;
    }
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: rgb(225, 27, 27);
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.2s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .sub-title {
      font-size: 50px;
    }
    .about-col-1, .about-col-2 {
      flex-basis: 100%;
    }
    .about-col-2 {
      margin-bottom: 14px;
    }
    .tab-link {
      font-size: 24px;
      margin-right: 20px;
    }
    .contact-left, .contact-right {
      flex-basis: 100%;
    }
    .contact-left p{
        font-size: 24px;
    }
    form {
      text-align: center;
    }
    .copyright{
        font-size: 20px;
    }
}
#msg{
    color: gray;
    margin-top: 10px;
    display: block;
}
  